*.pyc
*.pyo
*.egg-info
*.egg
*.db
bin/
parts/
develop-eggs/
dev/
venv/
.mypy_cache/
.installed.cfg
.mr.developer.cfg
._*
.DS_Store
*~
*.swp
*.tar.gz
*.tar.bz2

images/core/jars/ojdbc8.jar
images/core/release/
images/livy/cache/
images/livy/hadoop-jars/
images/livy/jars/
images/livy/packages/
images/livy/release/
images/livy/scala-version.patch
images/livy/spark-jars/
images/nifi/nifi-1.20.0/
images/openldap/
images/presto/test.sh
images/presto/test/
myvalues.yaml
