# Default values for elixier.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

kubectl_image:
  repository: bitnami/kubectl
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

core_image:
  repository: registry.gitlab.com/abyres/releases/elixier
  pullPolicy: Always
  tag: "development"

pgsql_image:
  repository: registry.gitlab.com/abyres/releases/pgsql-citus
  pullPolicy: Always
  tag: "pgsql14-1.0.2-4"

hms_image:
  repository: registry.gitlab.com/abyres/releases/hive
  pullPolicy: Always
  tag: "3.1.2-2"

minio_image:
  repository: minio/minio
  pullPolicy: Always
  tag: "latest"

mc_image:
  repository: minio/mc
  pullPolicy: Always
  tag: "latest"

presto_image:
  repository: registry.gitlab.com/abyres/releases/presto
  pullPolicy: IfNotPresent
  tag: "0.277-3"

redis_image:
  repository: registry.gitlab.com/abyres/releases/redis
  pullPolicy: IfNotPresent
  tag: "5.0.3-1"

gitsync_image:
  repository: k8s.gcr.io/git-sync
  pullPolicy: IfNotPresent
  tag: "v3.0.1"

gitweb_image:
  repository: registry.gitlab.com/abyres/releases/gitserver
  pullPolicy: IfNotPresent
  tag: "2.31.1-6"

hue_image:
  repository: registry.gitlab.com/abyres/releases/hue
  pullPolicy: Always
  tag: "development"

superset_image:
  repository: registry.gitlab.com/abyres/releases/superset
  pullPolicy: Always
  tag: "development"



imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: 
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
  #

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  domain: elixier.lan

nodeSelector: {}

tolerations: []

affinity: {}

timezone: Asia/Kuala_Lumpur

secrets:
  fernet_key: KsyyWSqLD-CqiyTCE8nfCrIE7YaUtQMj5-3_N9_BnX4=
  secret_key: MumVafdisAwk_orlObwuvadShyralfyifkidcinWakCuefyids
  previous_secret_key: ''

hive:
  metastore_uri: 
  metastore_port: 9083
  #  metastore_db_url: jdbc:mysql://mysql.lan/spark3_hive_metastore?createDatabaseIfNotExist=true&amp;permitMysqlScheme
  metastore_db_name: metastore
  metastore_db_type: postgres
  metastore_db_url: 
  metastore_db_driver: org.postgresql.Driver
  metastore_db_user: metastore
  metastore_db_password: metastore
  metastore_warehouse_dir: s3a://warehouse/tablespace
  metastore_java_options: -Dcom.amazonaws.sdk.disableCertChecking=true

spark:
  executor_cores: 1
  executor_memory: 2g
  executor_instances: 1
  deploy_cluster: false
  deploy_thrift: true
  memory_overhead_factor: 0.4
  int96_rebase: CORRECTED

airflow:
  db_uri:
  db_name: airflow
  db_user: airflow
  db_password: aiflow
  dag_git_repository: 
  dag_git_username: user
  dag_git_password: password
  dag_git_branch: master
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  data_storage: 5Gi


smtp:
  enabled: false
  host: ""
  port: "25"
  username: ""
  password: ""
  from: ""
  use_ssl: false
  use_tls: false


s3a:
  endpoint: 
  access_key: minio
  secret_key: miniopassword

pgsql:
  volume_path: /var/lib/pgsql
  pg_version: 14
  pvc_size: 5Gi

minio:
  root_user: minio
  root_password: miniopassword
  instance_storage: 1G
  console_url: https://minio/

jupyterhub:
  instance_storage: 1G
  db_name: jupyterhub
  db_user: jupyterhub
  db_password: jupyterhub

redis:
  instance_storage: 1G

git:
  project_name: project
  pvc_size: 1Gi
  gitweb_password: password
  gitweb_user: user

hue:
  db_name: hue
  db_user: hue
  db_password: hue

superset:
  db_name: superset
  db_user: superset
  db_password: superset

containerWaitTimeout: 3600s
